/* Start Main Components */

:root {
    --black-color: #000;
    --white-color: #FFF;
    --main-color: #1C78A6;
    --p-color: #777;
    --main-scale: scale(1.1, 1.1);
    --main-transition: all .3s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
}

.container {
    /* width: 1170px; */
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, .6);
}

.hidden {
    display: none;
}

.main-btn {
    width: 180px;
    height: 70px;
    font-size: 14px;
    padding: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    cursor: pointer;
    transition: var(--main-transition);
    background-color: transparent;
    border: 2px solid var(--white-color);
}

.main-btn:hover {
    background-color: var(--white-color);
    color: var(--main-color);
    transform: var(--main-scale);
}

.colored-btn {
    width: 180px;
    height: 70px;
    font-size: 14px;
    padding: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    cursor: pointer;
    transition: var(--main-transition);
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    border: none;
}

.colored-btn:hover {
    transform: var(--main-scale);
    filter: brightness(.85);
}


/* End Main Components */


/* Start Grid System */

@media (min-width:576px) {
    /* Small Devices => Landscape Phones */
    .container {
        max-width: 540px;
    }
}

@media (min-width:576px) {
    /* Medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    /* Desktops */
    .container {
        max-width: 960px;
    }
}

@media (min-width:992px) {
    /* Large Screens */
    .container {
        max-width: 1140px;
    }
}


/* End Grid System */


/* ***********  
Start Building Website
   ***********
 */


/* Start Navbar */

nav {
    display: flex;
    padding: 20px;
    height: 16vh;
    position: relative;
    justify-content: space-between;
    background-color: var(--black-color);
}

@media (max-width:991px) {
    nav .nav-links,
    nav .nav-btn button {
        display: none;
    }
}

nav .logo img {
    width: 100px;
    height: 60px;
    cursor: pointer;
}

@media (max-width:768px) {
    nav .logo img {
        width: 80px;
        height: 55px;
    }
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links ul li a {
    font-size: 18px;
    margin: 10px;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 600;
    transition: var(--main-transition);
}

.nav-links ul li a:hover {
    color: var(--main-color);
}

.nav-links ul li i {
    font-size: 12px;
}

nav .nav-btn button {
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    transition: var(--main-transition);
    background-color: var(--main-color);
    border: 2px solid var(--white-color);
}

nav .nav-btn button:hover {
    filter: brightness(130%)
}

nav .nav-btn i {
    color: var(--white-color);
    font-size: 35px;
    cursor: pointer;
    transition: var(--main-transition);
}

nav .nav-btn i:hover {
    color: var(--main-color);
}

nav .sub-menu {
    z-index: 1000;
    position: absolute;
    max-width: 95%;
    background-color: var(--white-color);
    top: 100px;
}

@media (max-width:991px) {
    nav .sub-menu {
        width: 100%;
    }
}

nav .sub-menu ul li {
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

nav .sub-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color);
    transition: var(--main-transition);
}

nav .sub-menu ul li a:hover {
    color: var(--main-color);
}

@media (min-width:991px) {
    .bars-btn,
    .close-btn,
    .sub-menu {
        display: none;
    }
}


/* End Navbar */


/* Start Header */

header {
    padding: 10px 10px;
    background-image: url(../imgs/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    color: #FFF;
    position: relative;
}

@media (max-width:768px) {
    header {
        min-height: 100vh;
    }
}

header .header-title h3 {
    position: relative;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    margin: 100px 0 0 280px;
}

@media (max-width:768px) {
    header .header-title h3 {
        margin: 100px 0 0 150px;
    }
}

header .header-title h3::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 2px;
    top: 8px;
    left: -140px;
    border-bottom: 5px dashed var(--white-color);
    background-color: transparent;
}

@media (max-width:768px) {
    header .header-title h3::before {
        left: -150px;
    }
}

header .header-content {
    position: relative;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
}

header .header-content .header-social {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 10%;
    height: 100%;
    margin-top: 100px;
    background-color: transparent;
}

@media (max-width:768px) {
    header .header-content .header-social {
        margin-top: 0;
        flex-direction: row;
        width: 100%;
        order: 1;
    }
}

header .header-content .header-social i {
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    transition: var(--main-transition);
}

header .header-content .header-social i:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(.75);
}

header .header-content h1 {
    width: 60%;
    font-size: 60px;
    font-weight: 900;
    line-height: 90px;
}

@media (max-width:768px) {
    header .header-content h1 {
        margin: 60px 0 0 -420px;
        width: 100%;
        font-size: 35px;
        line-height: 1.8;
        order: 2;
    }
}

header .header-content .intro-btn {
    width: 25%;
    text-align: right;
}

@media (max-width:768px) {
    header .header-content .intro-btn {
        margin-top: 240px;
        position: absolute;
    }
}

header .header-content .intro-btn i {
    margin-top: 120px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
    transition: var(--main-transition);
    background-color: var(--white-color);
}

header .header-content .intro-btn i:hover {
    transform: var(--main-scale);
}

header .start-btn {
    margin: 10px 140px;
    position: relative;
}

@media (max-width:768px) {
    header .start-btn {
        margin: 20px 0 0 20px;
    }
}


/* End Header */


/* Start Gorgov */

.gorgov {
    padding: 1% 1%;
    position: relative;
}

@media (max-width:768px) {
    .gorgov {
        margin-top: 30px;
    }
}

.gorgov .first-box img {
    width: 100%;
    margin-bottom: 25px;
}

.gorgov .first-box p {
    font-size: 18px;
    color: var(--black-color);
    line-height: 1.6;
}

.gorgov .sec-box {
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    padding: 50px;
    width: 100%;
    height: 120vh;
    margin-top: -150px;
}

@media (max-width:768px) {
    .gorgov .sec-box {
        margin-top: 0;
    }
}

.gorgov .sec-box p:first-child {
    position: relative;
    text-align: left;
    margin-left: 60px;
    color: var(--white-color);
}

.gorgov .sec-box p:first-child::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 10px;
    left: -60px;
    border-bottom: 4px dashed rgb(207, 206, 206);
    background-color: transparent;
}

.gorgov .sec-box h1 {
    color: var(--white-color);
    font-size: 35px;
    font-weight: bolder;
}

.gorgov .sec-box p:nth-last-child(2) {
    color: var(--white-color);
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
    padding: 20px;
    border-left: 1px solid var(--white-color);
}


/* End Gorgov */


/* Start Archivement */

.archive {
    margin: 2%;
    padding: 5%;
    text-align: center;
}

.archive .archive-title h3 {
    color: var(--main-color);
    font-size: 15px;
    letter-spacing: 1;
}

.archive .archive-title h1 {
    color: var(--black-color);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 100px;
    position: relative;
}

.archive .archive-title h1::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 2px;
    top: 80px;
    left: 500px;
    border-bottom: 5px dashed var(--main-color);
    background-color: transparent;
}

@media (max-width:768px) {
    .archive .archive-title h1::after {
        left: 150px;
        top: 120px;
    }
}

@media (min-width:769px) and (max-width:991px) {
    .archive .archive-title h1::after {
        left: 250px;
        top: 80px;
    }
}

.archive .archive-box {
    max-height: 25vh;
}

.archive .archive-box span {
    color: var(--main-color);
    font-weight: bolder;
    font-size: 40px;
}

.archive .archive-box h5 {
    color: var(--black-color);
    font-weight: 800;
    font-size: 22px;
    margin-top: 40px;
}


/* End Archivement */


/* Start Learn */

.learn {
    padding: 4% 2%;
    margin: 2%;
}

.learn .first-box {
    position: relative;
}

.learn .first-box .hidden-box {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -20px;
    top: -20px;
    border-left: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
}

.learn .first-box img {
    width: 100%;
}

.learn .first-box .shown-box {
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    padding: 30px;
    width: 300px;
    height: 160px;
    left: 280px;
    top: 250px;
    text-align: left;
}

@media (max-width:768px) {
    .learn .first-box .shown-box {
        left: 100px;
        top: 100px;
    }
}

.learn .first-box .shown-box i {
    font-size: 30px;
    color: var(--white-color);
    margin-bottom: 10px;
}

.learn .first-box .shown-box h3 {
    font-weight: bold;
    font-size: 18px;
    color: var(--white-color);
}

.learn .first-box .shown-box p {
    font-size: 14px;
    color: var(--white-color);
}

.learn .second-box {
    padding: 40px;
}

.learn .second-box h3 {
    font-size: 14px;
    color: var(--p-color);
    position: relative;
    text-align: center;
}

.learn .second-box h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    top: 6px;
    left: 0;
    border-bottom: 4px dashed var(--main-color);
    background-color: transparent;
}

.learn .second-box h1 {
    font-size: 35px;
    font-weight: bold;
    color: var(--black-color);
}

.learn .second-box p {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--p-color);
    border-left: 1px solid var(--p-color);
}

.learn .second-box .check-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.learn .second-box .check-box .first-check i,
.learn .second-box .check-box .second-check i {
    color: var(--main-color);
}

.learn .second-box .check-box .first-check label,
.learn .second-box .check-box .second-check label {
    margin-top: 10px;
    color: var(--p-color);
}


/* End Learn */


/* Start Partner */

.partners {
    padding: 2% 2%;
}

.partners h3 {
    position: relative;
    font-size: 14px;
    color: var(--p-color);
}

@media (max-width:768px) {
    .partners h3 {
        margin-left: 60px;
    }
}

.partners h3::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    top: 6px;
    left: -65px;
    border-bottom: 4px dashed var(--main-color);
    background-color: transparent;
}

.partners h1 {
    color: var(--black-color);
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}

.partners h4 {
    color: var(--p-color);
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-left: 1px solid var(--p-color);
}


/* End Partner */


/* Start Team */

.team {
    padding: 5% 5%;
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    position: relative;
    height: 120vh;
}

@media (max-width:768px) {
    .team {
        height: 130vh;
    }
}

.team .team-content h3 {
    font-size: 16px;
    color: var(--white-color);
}

.team .team-content h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.8;
    color: var(--white-color);
}

.team .team-content p {
    font-size: 14px;
    padding: 10px;
    color: var(--white-color);
    border-left: 1px solid var(--white-color);
}

.team .team-video {
    background-color: transparent;
    padding: 200px;
    border: 15px solid var(--white-color);
    text-align: center;
    border-top: none;
}

@media (max-width:768px) {
    .team .team-video {
        margin-top: 50px;
        padding: 50px;
    }
}

.team .team-video i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
    transition: var(--main-transition);
    background-color: var(--white-color);
}

.team .team-video i:hover {
    transform: var(--main-scale);
}

.team .skills {
    width: 85%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 50px;
    margin-top: 600px;
    background-color: var(--white-color);
}

@media (max-width:768px) {
    .team .skills {
        display: none;
    }
}

.team .progress-bar {
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--main-color);
}

.team .skills .first-skill .progress,
.team .skills .second-skill .progress {
    background-color: var(--p-color);
    width: 500px;
    height: 40px;
    border-radius: 0;
}


/* End Team */


/* Start Services */

.services {
    padding: 5% 5%;
    margin: 5% 5%;
}

.services .services-title {
    text-align: center;
    margin: 50px 0 150px 0;
}

.services .services-title h3 {
    font-size: 16px;
    color: var(--p-color);
    letter-spacing: 2px;
}

.services .services-title h1 {
    font-size: 35px;
    font-weight: bold;
    color: var(--black-color);
    position: relative;
}

.services .services-title h1::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    top: 80px;
    left: 480px;
    border-bottom: 4px dashed var(--main-color);
    background-color: transparent;
}

@media (max-width:768px) {
    .services .services-title h1::after {
        left: 135px;
    }
}

.services .normal-card,
.services .colored-card {
    height: 60vh;
    margin: 15px;
}

.services .normal-card {
    background-color: transparent;
    border: 1px solid #CCC;
    padding: 60px;
    text-align: left;
}

.services .normal-card h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--black-color);
    margin-bottom: 20px;
}

.services .normal-card p {
    color: var(--p-color);
    font-size: 16px;
    margin-bottom: 30px;
}

.services .colored-card {
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    padding: 60px;
    text-align: left;
    border: 1px solid transparent;
}

.services .colored-card h3 {
    color: var(--white-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.services .colored-card p {
    color: var(--white-color);
    font-size: 16px;
    margin-bottom: 30px;
}


/* End Services */


/* Start Choose */

.choose {
    padding: 4% 2%;
    margin: 2%;
}

.choose .first-box {
    position: relative;
}

.choose .first-box .hidden-box {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -20px;
    top: -20px;
    border-left: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
}

.choose .first-box .imgs {
    position: relative;
}

.choose .first-box .imgs img:first-child {
    width: 100%;
}

.choose .first-box .imgs img:nth-child(2) {
    width: 50%;
    position: absolute;
    margin: 230px 0 0 -250px;
    border: 15px solid var(--white-color);
}

@media (max-width:768px) {
    .choose .first-box .imgs img:nth-child(2) {
        margin: 170px 0 0 -200px;
    }
}

.choose .second-box {
    padding: 40px;
}

.choose .second-box h3 {
    font-size: 14px;
    color: var(--p-color);
    position: relative;
    text-align: center;
}

.choose .second-box h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    top: 6px;
    left: 0;
    border-bottom: 4px dashed var(--main-color);
    background-color: transparent;
}

.choose .second-box h1 {
    font-size: 35px;
    font-weight: bold;
    color: var(--black-color);
}

.choose .second-box p {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--p-color);
    border-left: 1px solid var(--p-color);
}

.choose .second-box .choose-box,
.choose .second-box .sec-choose-box {
    display: flex;
    justify-content: space-around;
}

.choose .second-box .choose-box {
    background-color: var(--white-color);
    padding: 10px;
}

.choose .second-box .choose-box i {
    color: var(--main-color);
    font-size: 50px;
    margin: 30px 30px 0 0;
}

.choose .second-box .choose-box h4 {
    color: var(--black-color);
    font-size: 22px;
    font-weight: bold;
}

.choose .second-box .sec-choose-box {
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    padding: 25px;
    color: var(--white-color);
}

.choose .second-box .sec-choose-box i {
    color: var(--white-color);
    font-size: 50px;
    margin: 30px 30px 0 0;
}

.choose .second-box .sec-choose-box h4 {
    font-size: 22px;
    font-weight: bold;
}


/* End Choose */


/* Start Recent  */

.recent {
    padding: 2%;
}

.recent .title {
    position: relative;
}

.recent .title h3 {
    margin-left: 60px;
    font-size: 16px;
    color: var(--p-color);
}

.recent .title h3::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    top: 6px;
    left: 0;
    border-bottom: 4px dashed var(--main-color);
    background-color: transparent;
}

.recent .clients {
    display: flex;
    justify-content: space-between;
}

.recent .clients h3 {
    font-size: 35px;
    font-weight: bold;
    color: var(--black-color);
    letter-spacing: 2px;
}

.recent .software {
    color: var(--p-color);
    font-size: 18px;
    border-left: 1px solid #777;
    padding: 10px;
}

.recent .recent-card {
    position: relative;
    margin-top: 30px;
}

@media (max-width:768px) {
    .recent .recent-card {
        margin-bottom: 200px;
    }
}

.recent .recent-card img {
    width: 100%;
}

@media (max-width:768px) {
    .recent .recent-card img {
        margin-top: 150px;
    }
}

.recent .recent-card .recent-card-content {
    background-color: transparent;
    background-image: linear-gradient(150deg, #6EC1E4 0%, #1C78A6 100%);
    padding: 30px;
    color: var(--white-color);
    height: 85vh;
    width: 90%;
    position: absolute;
    margin: -80px 0 0 20px;
}

.recent .recent-card .recent-card-content h3 {
    font-size: 18px;
    letter-spacing: 2px;
}

.recent .recent-card .recent-card-content h1 {
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
}

.recent .recent-card .recent-card-content p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.recent .recent-card .recent-card-content button {
    margin-top: 40px;
}


/* End Recent  */


/* Start Partner */

.partner {
    margin-top: 40%;
    padding: 2%;
}

@media (max-width:768px) {
    .partner {
        margin-top: 50%;
    }
}

.partner .title {
    position: relative;
}

.partner .title h3 {
    margin-left: 60px;
    font-size: 16px;
    color: var(--p-color);
}

.partner .title h3::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    top: 6px;
    left: -10px;
    border-bottom: 4px dashed var(--main-color);
    background-color: transparent;
}

@media (max-width:768px) {
    .partner .title h3::before {
        left: 10px;
        width: 50px;
    }
}

.partner .clients h1 {
    font-size: 35px;
    font-weight: bold;
    color: var(--black-color);
    letter-spacing: 2px;
}

.partner .clients h4 {
    font-size: 18px;
    color: var(--p-color);
    border-left: 1px solid var(--p-color);
    padding: 10px;
}

.partner .clients-logo {
    margin: 10px;
}

.partner .clients-logo img {
    filter: grayscale(2);
    transition: var(--main-transition);
}

.partner .clients-logo img:hover {
    filter: grayscale(0);
}

@media (max-width:768px) {
    .partner .clients-logo img {
        width: 30%;
    }
}


/* End Partner */


/* Start Time */

.time {
    padding: 2% 2%;
    margin-top: 5%;
    background-color: var(--main-color);
}

.day,
.open {
    display: flex;
    justify-content: space-around;
}

.day i,
.open i {
    color: var(--white-color);
    font-size: 60px;
    margin-top: 10px;
}

.day h1,
.open h1 {
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
}

.day p,
.open p {
    color: var(--white-color);
    font-size: 14px;
}

.time .email {
    margin-top: 18px;
}

.time .email input {
    width: 100%;
    height: 50px;
    background-color: #6EC1E4;
    opacity: .8;
    border: none;
    caret-color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}

.time .email input:focus {
    outline: none;
}

.time .email input::placeholder {
    color: var(--p-color);
    padding: 10px;
}

@media (max-width:768px) {
    .time .time-btn {
        text-align: center;
        margin-top: 5%;
    }
}


/* End Time */


/* Start footer */

footer {
    padding-top: 5%;
    background-color: var(--black-color);
}

footer .foot-box h2 {
    color: var(--white-color);
    font-size: 26px;
}

footer .foot-box .footer-social-links i {
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    color: var(--main-color);
    background-color: var(--white-color);
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    transition: var(--main-transition);
}

footer .foot-box .footer-social-links i:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(.75);
}

footer .footer-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
}

footer .footer-box .footer-links {
    list-style: none;
}

footer .footer-box .footer-links li {
    margin-top: 10px;
}

footer .footer-box .footer-links li a {
    text-align: left;
    color: var(--p-color);
    text-decoration: none;
    transition: var(--main-transition);
}

footer .footer-box .footer-links li a:hover {
    color: var(--white-color);
}

footer .copyright {
    font-size: 16px;
    color: var(--white-color);
}


/* End footer */


/* ***********  
End Building Website
   ***********
 */